[submodule "luau"]
	path = luau
	url = https://github.com/luau-lang/luau.git
[submodule "src/tests/frktest"]
	path = src/tests/frktest
	url = https://github.com/itsfrank/frktest.git
[submodule "utils/builder/argparse"]
	path = utils/builder/argparse
	url = https://github.com/CavefulGames/argparse-lune
